.container {
    background-color: rgb(18, 15, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Trebuchet MS, sans-serif;
    color:bisque;
    width: 540px;
}

input {
    border: 1px solid #E0E0E0;
    color: #000000;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 15px; 
  }

