.container {
    background-color: rgb(19, 11, 25);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    
    width: 700px;
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
    font-size:larger;
    justify-content: space-evenly;
    
}